## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lavrentiya,65.5833,-171.0000,-10.34,90,7,6.91,clear sky
1,1,Mar Del Plata,-38.0023,-57.5575,62.87,75,40,7.00,scattered clouds
2,2,Bandarbeyla,9.4942,50.8122,74.19,73,100,11.95,overcast clouds
3,3,Vaini,-21.2000,-175.2000,87.96,79,20,10.36,few clouds
4,4,Chokurdakh,70.6333,147.9167,-2.51,96,100,12.08,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your vacation? "))
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 75
What is the maximum temperature you would like for your vacation? 85

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Dzaoudzi,-12.7887,45.2699,80.49,83,0,8.05,clear sky
7,7,Hobart,-42.8794,147.3294,79.02,44,75,19.57,broken clouds
12,12,Guarapari,-20.6667,-40.4975,75.09,87,100,2.62,overcast clouds
14,14,Butaritari,3.0707,172.7902,83.08,70,100,14.05,overcast clouds
19,19,Acapulco,16.8634,-99.8901,80.42,65,75,6.91,broken clouds
...,...,...,...,...,...,...,...,...,...
694,694,Marsh Harbour,26.5412,-77.0636,75.07,85,0,8.61,clear sky
695,695,Flinders,-34.5833,150.8552,78.06,66,33,3.00,scattered clouds
697,697,Moerai,-22.4333,-151.3333,79.25,74,100,6.08,moderate rain
703,703,Madimba,-10.4000,40.3333,75.36,91,100,4.99,light rain
709,709,Bodden Town,19.2833,-81.2500,79.00,78,20,5.75,few clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                176
City                   176
Lat                    176
Lng                    176
Max Temp               176
Humidity               176
Cloudiness             176
Wind Speed             176
Current Description    176
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#There is no empty rows

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City  Max Temp Current Description      Lat       Lng Hotel Name
6      Dzaoudzi     80.49           clear sky -12.7887   45.2699
7        Hobart     79.02       broken clouds -42.8794  147.3294
12    Guarapari     75.09     overcast clouds -20.6667  -40.4975
14   Butaritari     83.08     overcast clouds   3.0707  172.7902
19     Acapulco     80.42       broken clouds  16.8634  -99.8901
22      Rikitea     78.84           clear sky -23.1203 -134.9692
23      Simpang     77.32     overcast clouds  -1.2667  104.0833
25  Kloulklubed     84.70     overcast clouds   7.0419  134.2556
26     La Union     76.01     overcast clouds  -5.4000  -80.7500
28  New Norfolk     78.66     overcast clouds -42.7826  147.0587

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
hotel_df.count()

City                   176
Max Temp               176
Current Description    176
Lat                    176
Lng                    176
Hotel Name             176
dtype: int64

In [14]:
# 7. Drop the rows where there is no Hotel Name.
nan_value = float("NaN")
hotel_df.replace("", nan_value, inplace=True)
hotel_df.dropna(subset = ["Hotel Name"], inplace=True)
hotel_df.count()

City                   168
Max Temp               168
Current Description    168
Lat                    168
Lng                    168
Hotel Name             168
dtype: int64

In [17]:
hotel_df

,City,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Dzaoudzi,80.49,clear sky,-12.7887,45.2699,Le Rocher
7,Hobart,79.02,broken clouds,-42.8794,147.3294,Mantra on Collins Hobart
12,Guarapari,75.09,overcast clouds,-20.6667,-40.4975,Hotel Porto do Sol
14,Butaritari,83.08,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
19,Acapulco,80.42,broken clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
...,...,...,...,...,...,...
678,Acarau,78.55,scattered clouds,-2.8856,-40.1200,castelo pizzaria
694,Marsh Harbour,75.07,clear sky,26.5412,-77.0636,Abaco Beach Resort
695,Flinders,78.06,scattered clouds,-34.5833,150.8552,Shellharbour Resort & Conference Centre
697,Moerai,79.25,moderate rain,-22.4333,-151.3333,Le Manotel
709,Bodden Town,79.00,few clouds,19.2833,-81.2500,Will T Place

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Max Temp</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))